NEXT_PUBLIC_BASE_URL = http://localhost:3000
NEXT_PUBLIC_GRAPHQL_SERVER = https://relation-service-tiger.next.id/
NEXT_PUBLIC_POAP_API_KEY = YOUR_POAP_API_KEY
NEXT_PUBLIC_LENS_GRAPHQL_SERVER = https://api.lens.dev/
NEXT_PUBLIC_ETHEREUM_RPC_URL = https://rpc.ankr.com/eth