// Toasts
.toast {
  backdrop-filter: blur(2rem) saturate(120%) brightness(100%);
  background: rgba($dark-color, .8);
  border: .1rem solid rgba($dark-color, .1);
  border-radius: $border-radius-lg;
  box-shadow: 0 .2rem 2rem rgba($dark-color, .75);
  color: $light-color;
  display: block;
  font-size: .8rem;
  padding: .8rem;

  a {
    color: $light-color;
    text-decoration: underline;
    
    &:focus,
    &:hover,
    &:active,
    &.active {
      opacity: .75;
    }
  }

  .btn-clear {
    margin: $unit-h;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
