.panel-container {
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 30px;
    width: 528px;
    min-height: 85vh;
    position: absolute;
    bottom: 0;
    z-index: 100;

    .panel-identity-basic {
        display: flex;
        align-items: center;
        gap: 20px;

        .identity-avatar-container {
            width: 100%;
            height: 100%;
            max-width: 64px;
            max-height: 64px;
            filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.15));
            border-radius: 12px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 12px;
            }
        }

        .identity-basic-info {
            .displayName {
                font-weight: 900;
                font-size: 20px;
                line-height: 28px;
                color: #121212;
            }

            .identity {
                display: flex;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #121212;
                opacity: 0.5;
                gap: 10px;
                align-items: center;

                .copy-icon {
                    cursor: pointer;
                }
            }
        }

    }
}

// Record Social Media Item
.records {
    margin: 20px 0;

    .record-item {
        position: relative;
        width: 36px;
        height: 36px;
        background: rgba(18, 18, 18, 0.08);
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
        border-radius: 10px;

        .record-item-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
        }
    }
}

.nft-collection-container {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;

    .nft-collection-title {
        font-weight: 900;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #000000;
    }

    .collection-switcher {
        background: #ECECEC;
        border-radius: 8px;
        padding: 4px;
        display: flex;
        align-items: center;
        gap: 4px;

        .collection-img {
            width: 20px;
            height: 20px;
            border-radius: 8px;
        }

        .collection-name {
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
            color: #000000;
        }

        .collection-switch-arrow {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 12px;

            img {
                width: 7px;
            }
        }
    }

    .nft-list {
        display: flex;
        align-items: center;
        gap: 10px;
        overflow-x: auto;
        max-width: 100%;
        box-sizing: border-box;
        margin-top: 10px;

        .collection-nft-item {
            width: 80px;
            min-width: 80px;
            border-radius: 12px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 12px;
            }
        }
    }

    .nft-detail-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .detail-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            font-size: 10px;
            color: #000000;
            text-transform: uppercase;

            img {
                width: 140px;
                height: 140px;
                filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.1));
                border-radius: 12px;
            }

            .collection-name {
                font-weight: 400;
                line-height: 20px;
            }

            .nft-name {
                font-weight: 700;
                line-height: 20px;
            }
        }
    }

}



// Tabs
.panel-tab {
    align-items: center;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 20px 0;
    gap: 24px;

    .tab-item {
        width: 50px;
        margin-top: 0;

        a {
            border-bottom: 2px solid transparent;
            display: block;
            margin: 0 8px 0 0;
            text-decoration: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #121212;
            opacity: 0.5;

            &:focus,
            &:hover {
                border-bottom-color: #121212;
                opacity: 1;
                font-weight: 700;
            }
        }

        &.active a,
        a.active {
            border-bottom-color: #121212;
            opacity: 1;
            font-weight: 700;
        }

        // &.tab-action {
        //     flex: 1 0 auto;
        //     text-align: right;
        // }

        // .btn-clear {
        //     margin-top: 4px;
        // }
    }
}


.profile-tab-content {}


.nft-tab-content {}

.feeds-tab-content {}