

// Record Social Media Item
.records {
    margin: 20px 0;
    display: flex;
    gap: 20px;
    align-items: center;

    .record-item {
        position: relative;
        width: 36px;
        height: 36px;
        background: rgba(18, 18, 18, 0.08);
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        cursor: pointer;
        transition: box-shadow .2s ease 0s;

        &:hover {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        .record-item-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
        }
    }
}

.nft-dialog-basic {
    display: flex;
    gap: 30px;
    padding: 0;

    .nft-dialog-asset-player {
        width: 200px;
        height: 200px;
        max-width: 200px;
        max-height: 200px;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
        border-radius: 12px;

        img {
            border-radius: 12px;
        }
    }

    .nft-dialog-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        .nft-dialog-collection {
            display: flex;
            align-items: center;
            gap: 4px;

            .title {
                font-weight: 400;
                font-size: 10px;
                line-height: 20px;
                text-transform: uppercase;
            }

        }

        .nft-name {
            font-weight: 900;
            font-size: 20px;
            line-height: 1.2;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 10px;
            max-width: 200px;
        }


    }

}

.nft-dialog-scroll-box {
    overflow-y: auto;
    padding: 0;

    .nft-dialog-des-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 20px 0px;
        color: #000000;

        .common-title {
            font-weight: 900;
            font-size: 14px;
            line-height: 1.43;
            text-transform: uppercase;
        }

        .description-content {
            font-weight: 400;
            font-size: 12px;
            line-height: 1.67;

        }

        .traits-box {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .traits-card {
                background: #FFFFFF;
                border: 1px solid rgba(18, 18, 18, 0.08);
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
                border-radius: 10px;
                color: #000000;
                text-transform: uppercase;
                padding: 4px 10px;

                .trait-type {
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 2;
                }

                .trait-value {
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 1.54;
                }
            }
        }
    }
}





.nft-collection-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    overflow: hidden;
    margin: 20px 0;
    .nft-collection-title {
        font-weight: 900;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #000000;
    }

    .collection-switcher {
        background: #ECECEC;
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 10px;
        cursor: pointer;
        min-width: 150px;

        &:hover {
            box-shadow: 0 .2rem .4rem rgba(0, 0, 0, .05);
        }

        transition: all .2s ease-in-out 0s;

        .collection-img {
            width: 20px;
            height: 20px;
            border-radius: 8px;
        }

        .collection-name {
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
            color: #000000;
        }

        .collection-switch-arrow {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 12px;

            img {
                width: 8px;
                margin-right: 4px;
            }
        }

        // dropdown
        .dropdown-box {
            border-radius: 4px;
            border: 1px solid #eee;
            color: #1a1a1a;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            font-size: 14px;
            width: 100%;
            cursor: pointer;

            .dropdown-menu {
                position: absolute;
                width: 100%;
                text-align: center;
                background: #fff;
                border-radius: 4px;
                top: 35px;
                border: 1px solid #ddd;
            }

            .dropdown-button {
                width: 100%;
                max-width: 200px;
                text-align: center;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 6px;
                padding: 0 6px;
            }

            .dropdown-button,
            .menu>div {
                height: 30px;
                line-height: 30px;
            }

            .dropdown-menu>div.active {
                background: #e7f8eb;
            }

            .dropdown-menu>div:hover {
                background: #e7f8eb;
            }


        }
    }

    .nft-list {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        overflow-x: auto;
        max-width: 100%;
        box-sizing: border-box;
        margin-top: 10px;

        .collection-nft-item {
            width: 80px;
            height: 80px;
            min-width: 80px;
            overflow: hidden;
            border-radius: 12px;

            &:hover img {
                transform: scale(1.2);
                box-shadow: 0px 4px 24px rgb(0 0 0 / 50%);
            }

            img {
                width: 100%;
                height: 100%;
                cursor: pointer;
                object-fit: cover;
                border-radius: 12px;
                transition: transform .4s ease 0s;
            }
        }

    }

//     .nft-collection-list {
//         display: flex;
//         flex-direction: column;
//         align-items: flex-start;
//         gap: 20px;
//         max-height: 57vh;
//         overflow-y: auto;
//         padding: 0;
//         width: 100%;

//         .collection-item {
//             .nft-collection-title-box {
//                 display: flex;
//                 gap: 10px;
//                 align-items: center;
//                 margin-bottom: 20px;

//                 .nft-collection-title {
//                     font-weight: 900;
//                     font-size: 14px;
//                     line-height: 20px;
//                     text-transform: uppercase;
//                     color: #000000;
//                 }

//                 .collection-logo {
//                     width: 20px;
//                     height: 20px;
//                 }
//             }

//             .nft-item-coantiner {
//                 display: flex;
//                 gap: 20px;
//                 flex-wrap: wrap;

//                 .detail-item {
//                     display: flex;
//                     flex-direction: column;
//                     align-items: flex-start;
//                     font-size: 10px;
//                     color: #000000;
//                     text-transform: uppercase;

//                     .img-container {
//                         position: relative;
//                         width: 140px;
//                         height: 140px;
//                         box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
//                         border-radius: 12px;
//                         margin-bottom: 10px;
//                         cursor: pointer;

//                         &:hover img {
//                             transform: scale(1.02);
//                             box-shadow: 0px 4px 10px rgb(0 0 0 / 30%);
//                         }

//                         img {
//                             width: 100%;
//                             height: 100%;
//                             object-fit: cover;
//                             border-radius: 12px;
//                             transition: transform .4s ease 0s;
//                         }

//                         &:hover video {
//                             transform: scale(1.02);
//                             box-shadow: 0px 4px 10px rgb(0 0 0 / 30%);
//                         }

//                         video {
//                             width: 100%;
//                             height: 100%;
//                             object-fit: cover;
//                             border-radius: 12px;
//                             transition: transform .4s ease 0s;
//                         }
//                     }

//                     .collection-name {
//                         font-weight: 400;
//                         line-height: 20px;
//                     }

//                     .nft-name {
//                         font-weight: 700;
//                         line-height: 20px;
//                     }
//                 }

//             }

//         }

//     }
}

.profile-container {
    padding: 0;
    box-sizing: border-box;

    .profile-basic-info-loading{
        position: relative;
        min-height: 30vh;
        margin-bottom: 40px;
    }
}

.feeds-container-box {
    padding: 0;

    .feeds-title {
        font-weight: 900;
        font-size: 14px;
        line-height: 1.43;
        text-transform: uppercase;
    }

    .feeds-container {
        max-width: 100%;
        margin-top: 20px;
        max-height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .feed-timestamp {
            width: fit-content;
            margin-left: 34px;
            opacity: .5;
            margin-top: 10px;
        }

        .feed-item-box {
            display: flex;
            width: 100%;
            align-items: flex-start;
            gap: 10px;

            .feed-type-badge {
                width: 24px;
                height: 24px;
                background: rgba(18, 18, 18, 0.08);
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
                border-radius: 8px;
            }

            .feed-item {
                display: flex;
                flex-direction: column;
                gap: 10px;
                max-width: 90%;

                .feed-item-header {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .feed-type-intro {
                        display: flex;
                        align-items: center;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;

                        .strong {
                            font-weight: 900;
                            margin: 0 4px;
                        }
                    }
                }

                .feed-item-main {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .feed-nft-img {
                        position: relative;
                        width: 40px;
                        height: 40px;
                        min-width: 40px;
                        min-height: 40px;
                        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
                        border-radius: 12px;

                        img {
                            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
                            border-radius: 12px;
                        }
                    }

                    .feed-swap-img {
                        width: 24px;
                        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
                        border-radius: 12px;
                        background: transparent;
                    }

                    .feed-nft-info {
                        display: flex;
                        flex-direction: column;

                        .nft-title {
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 22px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            overflow: hidden;
                        }

                        .nft-subtitle {
                            font-weight: 400;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            overflow: hidden;
                        }

                        .nft-collection-title {
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 20px;
                            color: #121212;
                            opacity: 0.5;
                        }
                    }
                }
            }


        }
    }
}