// Empty states (or Blank slates)
.empty {
  border-radius: $border-radius;
  color: $dark-color;
  text-align: center;
  padding: $unit-16 $unit-8;

  .empty-icon {
    margin-bottom: $layout-spacing-lg;
  }

  .empty-title,
  .empty-subtitle {
    margin: $layout-spacing auto;
  }

  .empty-title {
    font-weight: 700;
  }

  .empty-action {
    margin-top: $layout-spacing-lg;
  }
}
