// Empty states (or Blank slates)
.empty {
  border-radius: $border-radius;
  color: $dark-color;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  text-align: center;
  padding: $unit-16 $unit-8;

  .empty-icon {
    margin-bottom: $layout-spacing;
  }

  .empty-title,
  .empty-subtitle {
    margin: 0 auto;
  }

  .empty-title {
    font-weight: 700;
  }

  .empty-action {
    align-items: center;
    display: flex;
    gap: .5rem;
    justify-content: center;
    margin-top: $layout-spacing-lg;
  }
}
