.markdown {
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.4rem;
  text-align: justify;
  word-break: break-word;

  // Reset
  & > :first-child {
    margin-top: 0;
  }

  // Headings
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: $unit-6;
    margin-top: $unit-2;

    & + hr {
      margin-top: -$unit-2;
    }
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }

  // Paragraphs
  p {
    hyphens: auto;
    margin: 0 0 $unit-8;
  }

  // Semantic text elements
  a {
    border-bottom: .05rem solid currentColor;
    font-weight: 500;
    padding-bottom: .1rem;

    &:focus,
    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  a,
  ins,
  u {
    text-decoration-skip: ink edges;
  }

  del + del,
  del + s,
  ins + ins,
  ins + u,
  s + del,
  s + s,
  u + ins,
  u + u {
    margin-left: .125em;
  }

  // Divider
  hr {
    background: $border-color;
    border: none;
    display: block;
    height: 1px;
    margin: $unit-2 0 $unit-6;
    overflow: hidden;
    
    @include clearfix();
  }

  // Lists
  ul,
  ol {
    margin: $unit-8 0 $unit-8 $unit-8;
    padding: 0;

    ul,
    ol {
      margin: $unit-4 0 $unit-4 $unit-8;
    }

    li {
      margin-top: $unit-2;

      & > p {
        display: inline;
      }
    }
  }

  ul {
    list-style: disc inside;

    ul {
      list-style-type: circle;
    }

    //- Fix content wider than screen
    & > li > ul > li > ul  {
      display: none;
    }
  }

  ol {
    list-style: decimal inside;

    ol {
      list-style-type: lower-alpha;
    }
  }

  // Images
  img {
    border: 0;
    display: block;
    height: auto;
    margin: 1rem auto;
    max-width: 100%;

    & + em {
      display: inline-block;
      color: $gray-color-dark;
      font-size: .7rem;
      text-align: center;
      width: 100%;
    }

    &.emojione {
      display: inline;
      height: 1rem;
      margin: 0;
      vertical-align: -10%;
      width: 1rem;
    }
  }

  // Blockquote
  blockquote {
    border-left: .2rem solid $gray-color-dark;
    margin: $unit-8 0;
    padding: $unit-4 $unit-8;

    &:empty {
      display: none;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  // Tables
  table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    font-size: .7rem;
    margin: $unit-8 0;
    overflow-x: auto;
    padding-bottom: .75rem;
    text-align: left;
    white-space: nowrap;
    width: 100%;

    tbody {
      tr:nth-of-type(odd) {
        background: $bg-color;
      }
    }

    td,
    th {
      border-bottom: 1px solid $dark-color;
      width: 20%;
      padding: $unit-4;
    }

    th {
      border-bottom-width: 2px;
    }
  }

  // Code
  code {
    background: $bg-color;
    color: $code-color;
    font-family: $mono-font-family;
    font-size: .9em;
    padding: .2em;
  }

  pre {
    background: $bg-color;
    margin: $unit-8 0;
    overflow-x: auto;
    padding: $unit-2 $unit-4;
  }

  .codehilite {
    font-size: .9em;
    line-height: 1.8;
  }
}