// Variables and mixins
@import "variables";
@import "mixins";

/*! Spectre.css | MIT License | github.com/picturepan2/spectre */
// Reset and dependencies
@import "normalize";
@import "base";

// Elements
@import "typography";
@import "buttons";
@import "forms";
@import "labels";
@import "media";

// Layout
@import "layout";

// Components
@import "avatars";
@import "cards";
@import "dropdowns";
@import "empty";
@import "menus";
@import "modals";
@import "navs";
@import "pagination";
@import "tabs";
@import "toasts";
@import "tooltips";

// Utility classes
@import "animations";
@import "utilities";

// Variables
$pride-color-1: #FBF4EC !default;
$pride-color-2: #ECD7C8 !default;
$pride-color-3: #EEA4BC !default;
$pride-color-4: #BE88C4 !default;
$pride-color-5: #9186E7 !default;
$pride-color-6: #92C9F9 !default;
$pride-color-7: #C7F8FF !default;

/*! Web3bio.css | MIT License */
body {
  background: $light-color;
  overflow-x: hidden;
}

.web3bio-container {
  min-height: 100vh;
  padding: 1rem .5rem;
  width: 100vw;
}

//- Web3.bio Cover
.web3bio-cover {
  background-image:
    radial-gradient(at 40% 33%, $pride-color-1 0px, transparent 50%),
    radial-gradient(at 82% 10%, $pride-color-2 0px, transparent 50%),
    radial-gradient(at 17% 11%, $pride-color-3 0px, transparent 50%),
    radial-gradient(at 48% 2%, $pride-color-4 0px, transparent 50%),
    radial-gradient(at 39% 67%, $pride-color-5 0px, transparent 50%),
    radial-gradient(at 86% 58%, $pride-color-6 0px, transparent 50%),
    radial-gradient(at 61% 57%, $pride-color-7 0px, transparent 50%);
  display: block;
  filter: blur(1rem);
  height: 90vh;
  left: 0;
  opacity: .75;
  position: fixed;
  top: 5vh;
  width: 100vw;
  z-index: -1;

  &::after,
  &::before {
    border-radius: 50%;
    content: "";
    display: block;
    filter: blur(3rem);
    height: 50vh;
    position: fixed;
    width: 50vh;
    z-index: 1;
  }

  &::before {
    animation: bg-animation 24s ease infinite;
    animation-delay: -8s;
    background: linear-gradient(45deg, $pride-color-1 5%, $pride-color-2 50%, $pride-color-4 95%);
    left: 10vh;
    bottom: 0;
  }

  &::after {
    animation: bg-animation 24s ease infinite;
    animation-delay: 0;
    background: linear-gradient(-45deg, $pride-color-5 5%, $pride-color-6 50%, $pride-color-7 95%);
    top: 0;
    right: 10vh;
  }
}

@keyframes bg-animation {
  0% {
    opacity: 1;
    transform: skewX(30deg) translateX(-40vh);
  }
  50% {
    opacity: .75;
    transform: skewX(-30deg) translateX(40vh);
  }
  100% {
    opacity: 1;
    transform: skewX(30deg) translateX(-40vh);
  }
}

//- Web3.bio Header
.web3bio-header {
  left: 0;
  position: fixed;
  top: 1rem;
  width: 100%;

  .column {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.web3bio-logo {
  align-items: center;
  background: $dark-color;
  border-radius: .8rem;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, .1);
  color: $dark-color;
  cursor: pointer;
  display: flex;
  height: 3rem;
  padding: .4rem;
  position: relative;
  text-align: left;
  transition: all .3s ease;
  user-select: none;
  width: 3rem;
  z-index: 1;

  &:focus,
  &:hover {
    box-shadow: 0 .3rem .6rem rgba(0, 0, 0, .2);
    color: $dark-color;
    text-decoration: none;
  }

  h1 {
    font-size: .8rem;
    font-weight: 900;
    letter-spacing: -.05rem;
    line-height: .8rem;
    margin: 0;
  }
}

.web3bio-action {
  align-items: center;
  background: $light-color;
  border-radius: .8rem;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, .1);
  color: $dark-color;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  height: 3rem;
  justify-content: center;
  padding: .5rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  transition: all .3s ease;
  width: 3rem;

  .action-icon {
    transform: rotate(180deg) translateY(.2rem);
  }

  &:focus,
  &:hover {
    box-shadow: 0 .3rem .6rem rgba(0, 0, 0, .2);
    color: $dark-color;
    text-decoration: none;
  }
}

.web3bio-content {
  min-height: 50vh;

  .web3bio-content-title {
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 2rem;

    @media screen and (max-width: $size-md) {
      font-size: 1.2rem;
    }
  }
}

//- Web3.bio Search
.web3bio-search {
  .search-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateY(20vh);
    transition: all .25s ease-in-out;
  }

  .web3bio-logo {
    margin-bottom: 1rem;
  }

  .form-label {
    font-size: 2.2rem;
    font-weight: 900;
    letter-spacing: -.05rem;
    line-height: 1;
    margin-bottom: 1rem;

    @media screen and (max-width: $size-md) {
      font-size: 2rem;
    }

    span {
      font-weight: 400;
    }
  }

  .form-input-group {
    margin: .3rem 0;
    position: relative;

    .form-input {
      border: transparent;
      padding-right: 2.4rem;

      &:focus {
        box-shadow: 0 .8rem 4rem rgba($dark-color, .25), 0 .05rem .2rem rgba($dark-color, .1);
      }
    }
  }

  .form-button {
    align-items: center;
    background: lighten($bg-color, 3%);
    border-color: transparent;
    box-shadow: none;
    color: lighten($dark-color, 10%);
    display: inline-flex;
    height: 2rem;
    padding: 0;
    position: absolute;
    right: .2rem;
    top: .2rem;
    width: 2rem;

    &:focus,
    &:hover {
      background: $bg-color;
    }

    &:active {
      background: darken($bg-color, 3%);
    }
  }

  &.focused {
    .search-form {
      transform: translateY(0);
    }

    .form-label {
      display: none;
    }
  }

  .loading-container {
    margin: 2rem auto;
  }
}

.search-result {
  animation: slide-down .2s ease 1;
  background: rgba($light-color, .85);
  border-radius: $border-radius;
  box-shadow: 0 .05rem .2rem rgba($dark-color, .1);
  position: relative;
  z-index: 99;

  .graph-mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;

    .graph-header {
      align-items: center;
      display: flex;
      font-size: .7rem;
      justify-content: space-between;
      left: .5rem;
      position: absolute;
      right: .5rem;
      top: .5rem;
      z-index: 999;

      .graph-title {
        align-items: center;
        border-radius: .4rem;
        display: flex;
        line-height: 1rem;
        padding: .4rem;
        pointer-events: none;
        user-select: none;
        word-break: break-all;
      }

      .graph-close {
        align-items: center;
        display: flex;
      }

      svg {
        flex-shrink: 0;
      }
    }

    .graph-container {
      background: #fff;
      border-radius: .4rem;
      box-shadow: 0 .4rem 2rem rgba(0, 0, 0, .5);
      height: 94%;
      max-height: 40rem;
      max-width: 64rem;
      position: relative;
      width: 94%;
      
      .loading-mask {
        border-radius: .4rem;
        position: absolute;
        height: 94%;
        max-height: 40rem;
        max-width: 64rem;
        width: 94%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99;
        background: #fff;
      }
    }
  }

  .search-result-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .6rem;
    padding: .8rem;

    .search-result-text {
      word-break: break-all;
      word-wrap: break-word;
    }

    .btn {
      align-items: center;
      display: inline-flex;
      flex-shrink: 0;

      svg {
        margin-right: .2rem;
      }
    }
  }

  .search-result-body {
    display: flex;
    flex-direction: column;
    padding: 0 .8rem .8rem .8rem;
  }

  .social-item {
    background: rgba($gray-color, .05);
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all .2s ease-in;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: .2rem;
    }

    &:focus,
    &:hover {
      background: rgba($gray-color, .1);
      transform: translateY(-.1rem);

      .actions {
        display: flex;
      }

      .social-footer {
        display: flex;
      }
    }

    &:active {
      background: rgba($gray-color, .15);
    }

    .social-main {
      align-items: center;
      display: flex;
      padding: .4rem;
      width: 100%;

      .avatar {
        align-items: center;
        border-radius: .5rem;
        display: flex;
        flex: 0 0 1.6rem;
        justify-content: center;
        margin-right: .4rem;
      }
    }

    .social-footer {
      align-items: center;
      background: linear-gradient(-135deg, rgba($dark-color, .05), transparent);
      border-radius: .1rem;
      color: $gray-color;
      display: none;
      font-size: .5rem;
      height: .6rem;
      justify-content: flex-end;
      padding: 0;
      position: absolute;
      right: 0;
      top: -.2rem;
    }

    &.social-web3 {
      .social-main {
        align-items: flex-start;
        flex-direction: column;
      }
    }

    &.lens {
      .bg-lens {
        background: #BDFC5A;
        color: #204F24;
      }
    }
  }

  .social {
    align-items: center;
    border-radius: .2rem;
    display: flex;
    flex: 1;
    font-size: .6rem;
    line-height: 1rem;
    padding: .1rem .3rem .1rem .1rem;
    text-decoration: none;
    transition: all .25s ease-in-out;

    .icon {
      border-radius: $border-radius;
      color: $dark-color;
      font-size: .7rem;
      height: 1.6rem;
      margin-right: .2rem;
      padding: .3rem;
      width: 1.6rem;
    }

    .content {
      flex: 1;
    }

    .content-title {
      font-size: .9rem;
      line-height: 1.2rem;
    }

    .content-subtitle {
      align-items: center;
      display: flex;
      font-size: .6rem;
      line-height: 1rem;

      .action {
        cursor: pointer;
        flex: 0 1;
        height: 1rem;
        margin-left: .2rem;
        position: relative;
        width: 1rem;
      }
    }

    .title {
      font-size: .7rem;
    }
  }

  .label-ens {
    align-items: center;
    border-radius: .3rem;
    color: lighten($dark-color, 20%);
    display: inline-flex;
    font-size: 90%;
    line-height: .8rem;
    margin: .2rem .2rem 0 0;
    max-width: 100%;
    padding: .1rem .3rem .1rem .15rem;
    text-decoration: none;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    img {
      flex: 0 0 .7rem;
      margin-right: .2rem;
    }
  }

  .nfts {
    width: 100%;
  }

  .actions {
    display: none;
    padding: .2rem;

    .action {
      align-items: center;
      display: inline-flex;
      font-size: .55rem;
      line-height: 1.2rem;
      position: relative;
    }
  }

  .h4 {
    line-height: 1;
    word-break: break-all;
  }
}


//- Web3.bio Toast
.web3bio-toast {
  display: flex;
  justify-content: center;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  text-align: center;
  top: 1rem;
  width: $size-xs;
  z-index: 9999;

  .toast {
    animation: slide-down .25s ease 1;
    max-width: $size-xs;
  }
}

.web3bio-placeholder {
  background: rgba(darken($primary-color, 10%), .01);
  box-shadow: inset 0 0 4rem rgba($dark-color, .2);
  backdrop-filter: blur(2rem) saturate(120%) brightness(100%);
}

//- Web3.bio Footer
.web3bio-footer {
  color: $gray-color-dark;
  font-size: .7rem;
  font-weight: 500;
  padding-top: .5rem;
  position: sticky;
  text-align: center;
  top: 100vh;

  .footer-feedback {
    @media screen and (min-width: $size-md) {
      bottom: 1rem;
      position: fixed;
      right: 1rem;
    }

    span {
      transition: transform .15s ease-in-out;
    }

    &:focus,
    &:hover {
      span {
        transform: scale(1.5) rotate(-10deg);
      }
    }
  }
}

//- Pride
.text-pride {
  background-image: linear-gradient(70deg, $pride-color-1 10%, $pride-color-2 25%, $pride-color-3 36%, $pride-color-4 50%, $pride-color-5 63%, $pride-color-6 75%, $pride-color-7 90%);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-pride {
  background: linear-gradient(70deg, $pride-color-1 -10%, $pride-color-2 5%, $pride-color-3 36%, $pride-color-4 50%, $pride-color-5 63%, $pride-color-6 95%, $pride-color-7 110%);
}

.tooltip-copy {
  background: rgba($dark-color, .85);
  border-radius: .3rem;
  bottom: 100%;
  color: $light-color;
  display: block;
  font-size: .6rem;
  line-height: .6rem;
  left: 50%;
  padding: .25rem .3rem;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, 0);
  z-index: $zindex-3;
}