// Social Feeds
.widget-feeds-container {
  overflow-y: auto;
  padding: 1rem;

  .feed-item {
    align-items: flex-start;
    display: flex;
    flex-wrap: nowrap;
    font-size: .75rem;
    height: auto;
    padding: 0;
    position: relative;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: .5rem;
      padding-bottom: .5rem;

      &::after {
        border-left: .05rem solid $border-color;
        bottom: -.5rem;
        content: "";
        display: flex;
        left: 1rem;
        position: absolute;
        top: 2.5rem;
        width: .05rem;
      }
    }

    .feed-item-icon {
      align-items: center;
      background: lighten($bg-color, 3%);
      border-radius: 50%;
      display: flex;
      flex: 0 0 2rem;
      font-size: 1rem;
      height: 2rem;
      justify-content: center;
      margin: .25rem 1rem .25rem 0;
      position: relative;
      width: 2rem;

      .feed-icon-platform {
        align-items: center;
        background: $bg-color;
        border-radius: 50%;
        bottom: -.4rem;
        box-shadow: 0 .1rem .4rem -.4rem rgba($dark-color, .25), 0 .1rem .2rem rgba($dark-color, .05);
        display: flex;
        flex: 0 0;
        height: 1.2rem;
        padding: .2rem;
        position: absolute;
        right: -.4rem;
        width: 1.2rem;
      }
    }

    .feed-item-content {
      display: flex;
      flex: 1 1;
      flex-direction: column;
      width: 100%;
    }

    .feed-item-header {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .feed-item-name {
      .feed-token {
        background: transparent;
        box-shadow: none;
        border: none;
        height: 1rem;
        padding: 0;

        .avatar {
          display: none;
        }
      }
    }

    .feed-item-body {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .feed-item-action {
      display: flex;
      align-items: center;
      gap: .5rem;

      .feed-timestamp {
        color: $gray-color;
        font-size: .65rem;
        text-decoration: none;

        &:focus,
        &:hover {
          color: $gray-color-dark;
        }
      }

      .menu {
        width: 12rem;
      }
    }

    .feed-content {
      align-items: center;
      display: flex;
      flex: 1 1 100%;
      flex-wrap: wrap;
      font-size: .75rem;
      gap: .1rem;
      line-height: 1.5;
      margin-top: .25rem;
      width: 100%;
      word-break: break-word;

      &:empty {
        display: none;
      }

      &.text-large {
        font-size: .8rem;
      }

      &.text-emoji {
        font-size: 1.5rem;
        line-height: 1;
      }

      &:focus,
      &:hover {
        text-decoration: none;
      }

      &.media-gallery {
        display: flex;
        flex-wrap: nowrap;
        gap: .25rem;
        margin-bottom: .25rem;
        overflow: auto hidden;
        padding-bottom: .25rem;

        .feed-content-img {
          align-items: center;
          display: flex;
          flex: 0 0 auto;
          height: 100%;

          .img-responsive,
          .video-responsive {
            max-height: 8rem;
            object-fit: cover;
          }
        }
      }

      .feed-content-img {
        cursor: pointer;
        max-width: 16rem;

        .img-responsive,
        .video-responsive {
          background: $bg-color;
          border-radius: .4rem;
          box-shadow: 0 .1rem .2rem rgba($dark-color, .15);
          height: auto;
          max-height: 16rem;
          width: auto;
        }
      }

      .feed-profiles-list {
        background: rgba($color: $bg-color, $alpha: .25);
        border: .05rem solid rgba($dark-color, 0.05);
        border-radius: .4rem;
        box-shadow: 0 .1rem .4rem rgba($dark-color, .05);
        color: $dark-color;
        margin: .5rem 0;
        max-width: 24rem;
        width: 100%;

        .profile-list-item {
          display: flex;
          font-size: .65rem;
          justify-content: space-between;
          padding: .6rem;
          width: 100%;

          .list-item-left {
            color: $gray-color-dark;
          }

          .list-item-right {
            align-items: center;
            display: flex;
            max-width: 70%;
            text-align: right;
          }

          &:not(:first-child) {
            border-top: .05rem solid rgba($dark-color, 0.025);
          }
        }
      }

      .feed-target {
        position: relative;
        border: .05rem solid $border-color;
        border-radius: .4rem;
        box-shadow: 0 .1rem .4rem rgba($dark-color, .05);
        font-size: .7rem;
        margin: .5rem 0;
        max-width: 24rem;
        min-width: 10rem;
        padding: .75rem;
        transition: all .25s ease-in-out;
        width: 100%;

        .feed-token {
          background: transparent;
          box-shadow: none;
          border: none;
          height: 1rem;
          padding: 0 .1rem;
        }

        .feed-target-name {
          font-weight: 700;
          height: 1rem;
          margin-bottom: .5rem;
        }

        .feed-target-description {
          // display: -webkit-box;
          margin-top: .25rem;
          // text-overflow: ellipsis;
          // overflow: hidden;
          padding-right: 1rem;
          // -webkit-box-orient: vertical;
          // -webkit-line-clamp: 3;
        }

        .feed-target-content {
          &:not(:first-child) {
            margin-top: .25rem;
          }

          &.media-gallery {
            display: flex;
            flex-wrap: nowrap;
            gap: .25rem;
            margin-bottom: .25rem;
            overflow: auto hidden;
            padding-bottom: .25rem;
          }

          .feed-content-img {
            flex: 0 0 auto;

            .img-responsive,
            .video-responsive {
              max-height: 8rem;
            }
          }
        }

        .feed-target-address {
          color: $gray-color;
          font-size: .7rem;
          position: absolute;
          right: .5rem;
          top: .25rem;
        }
      }

      a.feed-target {

        &:focus,
        &:hover {
          border-color: darken($border-color, 2%);
          box-shadow: 0 .1rem .6rem rgba($dark-color, .05);
          text-decoration: none;
        }
      }
    }

    .feed-meta {
      color: $gray-color;
      font-size: .7rem;
    }
  }

  @media screen and (max-width: $size-md) {
    margin: 0 -1rem;
    padding: 1rem 1rem 1rem .75rem;

    .feed-item {
      .feed-item-icon {
        margin-right: .75rem;
      }
    }
  }
}