// Identity Graph
.identity-graph-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .graph-header {
    align-items: center;
    display: flex;
    font-size: .7rem;
    justify-content: space-between;
    left: .5rem;
    position: absolute;
    right: .5rem;
    top: .5rem;
    z-index: 999;

    .graph-title {
      align-items: center;
      border-radius: .4rem;
      display: flex;
      line-height: 1rem;
      padding: .4rem;
      pointer-events: none;
      user-select: none;
      word-break: break-all;
    }
  }

  .graph-container {
    background: #fff;
    border-radius: .4rem;
    box-shadow: 0 .4rem 2rem rgba(0, 0, 0, .5);
    height: calc(100vh - 3rem);
    overflow: hidden;
    position: relative;
    width: calc(100vw - 3rem);

    @media screen and (max-width: $size-sm) {
      height: calc(100vh - .5rem);
      width: calc(100vw - .5rem);
    }

    .loading-mask {
      border-radius: .4rem;
      position: absolute;
      height: 94%;
      max-height: 40rem;
      max-width: 64rem;
      width: 94%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 99;
      background: #fff;
    }
  }
}