// Identity Graph
.identity-graph-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba($dark-color, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .graph-header {
    align-items: center;
    display: flex;
    font-size: .7rem;
    justify-content: space-between;
    left: .5rem;
    position: absolute;
    right: .5rem;
    top: .5rem;
    z-index: 999;

    .graph-title {
      align-items: center;
      border-radius: .4rem;
      display: flex;
      line-height: 1rem;
      padding: .4rem;
      pointer-events: none;
      user-select: none;
      word-break: break-all;
    }
  }

  .web3bio-tooltip {
    position: absolute;
    background: #fcfcfc;
    z-index: 999;
    list-style-type: none;
    border-radius: 8px;
    font-size: .6rem;
    max-width: 400px;
    min-width: 200px;
    text-align: left;
    user-select: none;
    padding: 8px 12px;
    pointer-events: none;
    border: 1px solid rgba($dark-color, .25);
    box-shadow: 0 0.1rem 1.2rem hsla(0, 0%, 7%, .3);
    border: 0;

    ul {
      padding-left: 0;
      margin: 0;

      li {
        list-style-type: none;
        list-style: none;
        overflow-wrap: break-word;
        word-break: break-all;
        margin: 0;

        span {
          font-size: .5rem;

        }
      }
    }
  }
  .graph-container {
    background: #fff;
    border-radius: .4rem;
    box-shadow: 0 .4rem 2rem rgba($dark-color, .5);
    height: calc(100vh - 3rem);
    overflow: hidden;
    overscroll-behavior: contain;
    position: relative;
    width: calc(100vw - 3rem);



    .svg-canvas {
      .edge-selected {
        stroke-width: 1.5;
      }

      .node-selected {
        stroke-width: 3;
        stroke-opacity: 1;
      }

      .edge-path {
        stroke: #cecece;
        stroke-opacity: .65;
        fill: transparent;
        pointer-events: none;

      }

      .edge-label {
        user-select: none;
        fill: #999;
        font-size: 10px;
        font-weight: 400;
        pointer-events: none;
      }

      .edge-label-selected {
        fill: $dark-color;
      }

      .node {
        cursor: pointer;
      }

      .identity-badge {
        cursor: pointer;
      }

      .displayName {
        fill: $dark-color;
        user-select: none;
        font-size: 12px;
        font-weight: 500;
      }

      .identity {
        fill: $gray-color;
        user-select: none;
        font-size: 11px;
        font-weight: 400;
      }

      .identity-icon {
        cursor: pointer;
        width: 20px;
        height: 20px
      }

      .ens-icon {
        pointer-events: none;
        cursor: pointer;
        width: 18px;
        height: 20px;
      }

    }

    @media screen and (max-width: $size-sm) {
      @supports (height: 100dvh) {
        height: calc(100dvh - .5rem);
        width: calc(100dvw - .5rem);
      }
    }

    .loading-mask {
      border-radius: .4rem;
      position: absolute;
      height: 94%;
      max-height: 40rem;
      max-width: 64rem;
      width: 94%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 99;
      background: #fff;
    }
  }
}