// Identity Graph
.identity-graph-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  .graph-header {
    align-items: center;
    display: flex;
    font-size: .7rem;
    justify-content: space-between;
    left: .5rem;
    position: absolute;
    right: .5rem;
    top: .5rem;
    z-index: 999;

    .graph-title {
      align-items: center;
      border-radius: .4rem;
      display: flex;
      line-height: 1rem;
      padding: .4rem;
      pointer-events: none;
      user-select: none;
      word-break: break-all;
    }
  }

  .graph-container {
    background: #fff;
    border-radius: .4rem;
    box-shadow: 0 .4rem 2rem rgba(0, 0, 0, .5);
    height: calc(100vh - 3rem);
    overflow: hidden;
    overscroll-behavior: contain;
    position: relative;
    width: calc(100vw - 3rem);

    .web3bio-tooltip {
      position: absolute;
      background: #fcfcfc;
      z-index: 999;
      list-style-type: none;
      border-radius: 8px;
      font-size: .6rem;
      max-width: 400px;
      text-align: left;
      user-select: none;
      padding: 8px 12px;
      pointer-events: none;
      border: 1px solid rgba(0, 0, 0, .25);
      box-shadow: 0 0.1rem 1.2rem hsla(0, 0%, 7%, .3);
      border: 0;

      ul {
        padding-left: 0;
        margin: 0;

        li {
          list-style-type: none;
          list-style: none;
          overflow-wrap: break-word;
          word-break: break-all;
          margin: 0;

          span {
            font-size: .5rem;

          }
        }
      }
    }

    .svg-canvas {
      .edge-selected {
        stroke-width: 2;
      }

      .node-selected {
        stroke-width: 3;
      }

      .edge-path {
        stroke: #cecece;
        fill: transparent;
        pointer-events: none;

      }

      .edge-label {
        fill: #999;
        font-size: 10px;
        font-weight: 400;
        pointer-events: none;
      }

      .node {
        cursor: pointer;
      }

      .identity-badge {
        cursor: pointer;
      }

      .displayName {
        fill: #000;
        user-select: none;
        font-size: 12px;
        font-weight: 300;
      }

      .identity {
        fill: #999;
        user-select: none;
        font-size: 10px;
        font-weight: 300;
      }

      .identity-selected {
        font-weight: 500;
      }

      .displayName-selected {
        font-weight: 600;
      }

      .identity-icon {
        cursor: pointer;
        width: 20px;
        height: 20px
      }

      .ens-icon {
        pointer-events: none;
        cursor: pointer;
        width: 18px;
        height: 20px;
      }

    }

    @media screen and (max-width: $size-sm) {
      @supports (height: 100dvh) {
        height: calc(100dvh - .5rem);
        width: calc(100dvw - .5rem);
      }
    }

    .loading-mask {
      border-radius: .4rem;
      position: absolute;
      height: 94%;
      max-height: 40rem;
      max-width: 64rem;
      width: 94%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 99;
      background: #fff;
    }
  }
}