.web3bio-modal-cover {
  align-items: center;
  background: rgba($dark-color, .25);
  display: flex;
  position: fixed;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  backdrop-filter: blur(.2rem);

  .modal-actions {
    display: flex;
    gap: .5rem;
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 999;

    .btn {
      background: rgba($gray-color-light, .5);

      &:focus,
      &:hover {
        background: rgba($gray-color-light, .65);
      }

      &:active,
      &.active {
        background: rgba($gray-color-light, .75);
      }
    }
  }
}

.web3bio-modal-container {
  background: transparent;
  border-radius: 1rem;
  height: 100%;
  max-height: 100vh;
  max-width: $size-xl;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding: 2rem;
  position: relative;
  scroll-behavior: smooth;
  width: 100%;
  z-index: 101;

  @media screen and (max-width: $size-sm) {
    @supports (height: 100dvh) {
      height: 100dvh;
    }
  }

  @media screen and (max-width: $size-sm) {
    padding: .5rem;
  }

  // Modal Graph
  &.modal-graph-container {
    background: #fff;
    border-radius: .4rem;
    box-shadow: 0 .4rem 2rem rgba($dark-color, .5);
    height: calc(100vh - 3rem);
    max-width: none;
    overflow: hidden;
    overscroll-behavior: contain;
    padding: 0;
    position: relative;
    width: calc(100vw - 3rem);

    .graph-header {
      align-items: center;
      display: flex;
      font-size: .7rem;
      justify-content: space-between;
      left: .5rem;
      position: absolute;
      right: .5rem;
      top: .5rem;
      z-index: 999;

      .graph-title {
        align-items: center;
        border-radius: .4rem;
        display: flex;
        line-height: 1rem;
        padding: .4rem;
        pointer-events: none;
        user-select: none;
        word-break: break-all;
      }

      .graph-header-action {
        display: flex;
        align-items: center;
        gap: .5rem;
      }
    }

    .web3bio-tooltip {
      position: absolute;
      background: #fcfcfc;
      z-index: 999;
      list-style-type: none;
      border-radius: 8px;
      font-size: .6rem;
      max-width: 400px;
      min-width: 200px;
      text-align: left;
      user-select: none;
      padding: 8px 12px;
      pointer-events: none;
      border: 1px solid rgba($dark-color, .25);
      box-shadow: 0 0.1rem 1.2rem hsla(0, 0%, 7%, .3);
      border: 0;

      ul {
        padding-left: 0;
        margin: 0;

        li {
          list-style-type: none;
          list-style: none;
          overflow-wrap: break-word;
          word-break: break-all;
          margin: 0;

          span {
            font-size: .5rem;

          }
        }
      }
    }

    .svg-canvas {
      .edge-selected {
        stroke-width: 1.5;
      }

      .node-selected {
        stroke-width: 3;
        stroke-opacity: 1;
      }

      .edge-path {
        stroke: #cecece;
        stroke-opacity: .65;
        fill: transparent;
        pointer-events: none;

      }

      .edge-label {
        user-select: none;
        fill: #999;
        font-size: 10px;
        font-weight: 400;
        pointer-events: none;
      }

      .edge-label-selected {
        fill: $dark-color;
      }

      .node {
        cursor: pointer;
      }

      .identity-badge {
        cursor: pointer;
      }

      .displayName {
        fill: $dark-color;
        user-select: none;
        font-size: 12px;
        font-weight: 500;
      }

      .identity {
        fill: $gray-color;
        user-select: none;
        font-size: 11px;
        font-weight: 400;
      }

      .identity-icon {
        cursor: pointer;
        width: 20px;
        height: 20px
      }

      .badge-icon {
        fill: none;
        pointer-events: none;
        cursor: pointer;
        width: 18px;
        height: 20px;
      }

    }

    @media screen and (max-width: $size-sm) {
      @supports (height: 100dvh) {
        height: calc(100dvh - .5rem);
        width: calc(100dvw - .5rem);
      }
    }

    .loading-mask {
      border-radius: .4rem;
      position: absolute;
      height: 94%;
      max-height: 40rem;
      max-width: 64rem;
      width: 94%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 99;
      background: #fff;
    }
  }

  // Modal Tip
  &.modal-tip-container {
    background: #fff;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: calc(100vh - 4rem);
    max-width: 28rem;
    padding: 1.5rem 2rem;
    width: calc(100vw - .5rem);

    .modal-tip-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-content: center;
      gap: .75rem;

      .common-input {
        outline: none;
        border: 1px solid #cecece;
        padding: .25rem .5rem;
        font-size: .65rem;
        font-weight: 400;
        border-radius: .5rem;
      }

      .message-input {
        max-width: 100%;
        min-width: 100%;
        max-height: 6rem;
        min-height: 3rem;
      }

      .connect-btn {
        width: 100%;
      }

      .donate-btn {
        background: #5298FF;
        border-color: #5298FF;
        .loading-btn{
          width: 2rem;
        }
      }

      .disabled {
        user-select: none;
        pointer-events: none;
        filter: grayscale(1);
      }

      .wrong-network {
        background: #F0415E;
        border-color: #F0415E;

        &:hover {
          box-shadow: 0 0.1rem 1.2rem rgba(#F0415E, .25);
        }
      }
    }
  }

  // Modal Share
  &.modal-share-container {
    background: #fff;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: calc(100vh - 4rem);
    max-width: 28rem;
    padding: 1.5rem 2rem;
    width: calc(100vw - .5rem);

    @media screen and (max-width: $size-sm) {
      padding: 1.5rem;
    }

    .profile-share-header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding-bottom: 1.5rem;

      .btn-close {
        position: absolute;
        right: 1rem;
        top: 1rem;
      }
    }

    .profile-share-body {
      flex: 1;
      gap: .2rem;
      padding: 0;
    }

    .profile-share-actions {
      align-items: center;
      display: flex;
      gap: .5rem;
      margin-top: 1rem;

      .btn-group {
        flex: 1;
      }

      @media screen and (max-width: $size-sm) {
        flex-direction: column;
      }
    }

    .profile-share-footer {
      padding-top: 1rem;

      .input-group-btn {
        position: relative;
      }

      .tooltip-copy {
        position: absolute;
      }
    }

    .btn-group {
      flex-wrap: wrap;

      .btn {
        gap: .2rem;
      }
    }

    .profile-share-card {
      background: $bg-color;
      border-radius: .5rem;
      box-shadow: 0 -.05rem 2rem rgba($dark-color, .15), inset 0 -.05rem .1rem rgba($dark-color, .025);
      display: flex;
      flex-direction: column;
      height: 100%;
      min-height: 10rem;
      position: relative;
      width: 100%;

      @media screen and (max-width: $size-md) {
        min-height: 8rem;
      }

      .img-responsive {
        border-radius: .5rem;
        height: 12rem;
        margin: 0 auto;
        transition: filter 0.3s ease-out;
        width: auto;
      }
    }
  }

  // Modal Profile
  &.modal-profile-container {
    background: #fff;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 2rem);
    max-width: 28rem;
    padding: 1.5rem 2rem;
    width: 95%;

    @media screen and (max-width: $size-sm) {
      padding: 1.5rem;

      @supports (height: 100dvh) {
        height: calc(100dvh - .5rem);
        width: calc(100dvw - .5rem);
      }
    }

    .modal-profile-header {
      align-items: center;
      display: flex;
      flex: 0 0;
      gap: .25rem;
      line-height: 1rem;
      padding-bottom: 1rem;
      position: relative;
    }

    .modal-profile-cover {
      backdrop-filter: blur(1rem);
      height: 7rem;
      left: -2rem;
      position: absolute;
      right: -2rem;
      top: -2rem;
      z-index: -1;

      &.farcaster {
        background: linear-gradient(to top, rgba(#8a63d2, 0) 0%, rgba(#8a63d2, .35) 100%);
      }

      &.lens {
        background: linear-gradient(to top, rgba(#6bc674, 0) 0%, rgba(#6bc674, .35) 100%);
      }
    }

    .platform-icon {
      align-items: center;
      background: var(--widget-primary-color, $light-color);
      border-radius: .4rem;
      box-shadow: inset 0 0 0 .05rem rgba($dark-color, .1), 0 .2rem .4rem rgba($dark-color, .15);
      color: $light-color;
      display: flex;
      flex: 0 0 1.2rem;
      height: 1.2rem;
      justify-content: center;
      position: relative;
      transition: all .25s ease-in-out;
      width: 1.2rem;
    }

    .active-badge {
      align-items: center;
      background: #8a63d2;
      border-radius: .5rem;
      color: $light-color;
      display: inline-flex;
      height: .9rem;
      justify-content: center;
      line-height: 1rem;
      margin: 0 .2rem;
      width: .9rem;
    }

    .profile-badge {
      align-items: center;
      background: #ffc800;
      border-radius: .5rem;
      color: $light-color;
      display: inline-flex;
      height: .9rem;
      line-height: 1rem;
      margin: 0 .2rem;
      padding: 0 .25rem;
      width: auto;
    }

    .modal-profile-body {
      flex: 1 1;
      margin: 0 -1rem;
      overflow-y: auto;
      padding: 0 1rem;
    }

    .modal-profile-footer {
      flex: 0 0;
      padding-top: 1rem;
      position: relative;
    }
  }

  // Modal Search
  &.modal-search-container {
    padding-top: 15vh;

    .web3bio-search {
      margin: auto;
      max-width: 30rem;

      .form-input-group {
        animation: bounce-in .2s cubic-bezier(.5, .25, .5, 1) 1;
      }
    }
  }

  // Modal Article
  &.modal-article-container {
    background: #fff;
    border-radius: .5rem;
    box-sizing: border-box;
    height: calc(100vh - 3rem);
    max-width: $size-md;
    margin: auto;
    padding: 2rem 4rem;
    overflow-y: auto;
    position: relative;
    width: 100%;

    @media screen and (max-width: $size-sm) {
      padding: 1.5rem;

      @supports (height: 100dvh) {
        height: calc(100dvh - .5rem);
        width: calc(100dvw - .5rem);
      }
    }


    .modal-article-title {
      font-size: 1.2rem;
      margin-bottom: 1.2rem;
    }

    .modal-article-action {
      margin-bottom: 1.2rem;
    }

    img {
      height: auto;
      max-width: 100%;
    }

    h1 {
      font-size: 1.2rem;
      font-weight: 800;
    }

    h2 {
      font-size: 1rem;
      font-weight: 800;
    }

    h3 {
      font-size: .8rem;
      font-weight: 800;
    }

    li {
      p {
        display: inline;
      }
    }
  }

  // Modal Media
  &.modal-media-container {
    .preview-media {
      align-items: center;
      border-radius: .8rem;
      display: flex;
      justify-content: center;
      margin: auto;
      position: relative;

      .img-responsive,
      .video-responsive {
        border-radius: .8rem;
        max-height: 80vh;
        max-width: 90vw;
      }
    }

  }
}

// Modal NFT Preview
.nft-preview {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 199;

  @supports (height: 100dvh) {
    height: 100dvh;
  }

  .preview-overlay {
    background-position: center;
    background-size: cover;
    bottom: -2rem;
    filter: blur(4rem);
    left: -2rem;
    opacity: .25;
    overscroll-behavior: contain;
    position: fixed;
    right: -2rem;
    top: -2rem;
  }

  .preview-container {
    border-radius: .8rem;
    display: flex;
    height: 80vh;
    gap: 2rem;
    max-width: $size-xl;
    width: 100%;

    @media screen and (max-width: $size-md) {
      flex-direction: column;
      height: 100vh;
      gap: .5rem;
      overflow-y: auto;
      padding: .5rem;
      width: 100vw;

      @supports (max-height: 100dvh) {
        max-height: 100dvh;
      }

      .preview-content {
        max-height: none;
        padding: 1rem;
      }

      .preview-image {

        .img-responsive,
        .video-responsive {
          max-width: 100vw;
        }
      }
    }

    @media screen and (min-width: $size-md) {
      align-items: center;

      .preview-content {
        height: 80vh;
        width: 22rem;
        overflow: hidden auto;
        overscroll-behavior: contain;
      }
    }
  }

  .preview-image {
    align-items: center;
    border-radius: .8rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;

    &.preview-image-poap {
      padding: 3rem;

      .img-container,
      .img-responsive {
        border-radius: 50%;
      }
    }

    .img-responsive,
    .video-responsive {
      border-radius: .8rem;
      filter: drop-shadow(var(--nft-primary-color) 0 0 4rem);
      height: auto;
      max-height: 80vh;
      max-width: 50vw;
      width: 100%;
    }

    .img-placeholder {
      font-size: 6rem;
      height: 12rem;
      width: 12rem;
    }

    .preview-network {
      align-items: center;
      background: $light-color;
      border: .05rem solid rgba($dark-color, .05);
      border-radius: .5rem;
      bottom: .5rem;
      display: flex;
      height: 1.5rem;
      left: .5rem;
      min-width: 1.5rem;
      opacity: .85;
      padding: .2rem;
      position: absolute;
      transition: all .25s ease-in-out;

      &:focus,
      &:hover {
        opacity: .95;

        .preview-network-name {
          display: inline-flex;
        }
      }

      .preview-network-icon {
        height: 1rem;
        width: 1rem;
      }

      .preview-network-name {
        color: $dark-color;
        display: none;
        padding: 0 .15rem;
      }
    }
  }

  .preview-content {
    background: lighten($bg-color, 5%);
    border-radius: .8rem;
    padding: 2rem;
    position: relative;
    width: 100%;
    word-break: break-word;

    .collection-title {
      align-items: flex-start;
      display: flex;

      .collection-logo {
        flex: 0 0 1.2rem;
        margin-right: .25rem;

        .img-responsive {
          border-radius: .4rem;
          box-shadow: 0 .2rem .8rem rgba($dark-color, .2);
          font-size: 1rem;
          height: 1.2rem;
          object-fit: cover;
          width: 1.2rem;
        }
      }

      .collection-name {
        font-size: .8rem;
        font-weight: 700;
        letter-spacing: -.025em;
        line-height: 1.2rem;
      }
    }

    .nft-header-name {
      font-weight: 800;
      letter-spacing: -.025em;
      line-height: 1.25;
    }

    .nft-header-description {
      font-size: .8rem;

      h1,
      h2,
      h3 {
        font-size: .8rem;
        font-weight: 800;
        margin-top: 1rem;
      }

      p {
        margin-bottom: .5rem;
      }

      hr {
        display: none;
      }

      a {
        text-decoration: underline;
      }
    }

    .nft-header-actions {
      margin-top: .5rem;
    }

    .nft-header-logo {
      border-radius: .8rem;
      box-shadow: 0 .2rem .8rem rgba($dark-color, .2);
      font-size: 3rem;
      height: 4rem;
      width: 4rem;

      .img-responsive {
        border-radius: .8rem;
        height: 4rem;
        object-fit: cover;
        width: 4rem;
      }
    }
  }
}

// Panel Widget
.panel-widget {
  margin: .8rem 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .panel-widget-title {
    font-size: .7rem;
    font-weight: 700;
    line-height: 1.2rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
  }

  .panel-widget-list {
    background: $bg-color;
    border: .05rem solid rgba($dark-color, 0.01);
    border-radius: .4rem;
    box-shadow: 0 .2rem .8rem -.2rem rgba($dark-color, 0.1);
    color: $dark-color;
    margin: 1rem 0;

    .widget-list-item {
      display: flex;
      justify-content: space-between;
      padding: .6rem;

      .profile-badge {
        background: transparent;
        box-shadow: none;
        padding: 0;
        min-width: unset;
      }

      .list-item-right {
        align-items: center;
        display: flex;
        font-size: .8rem;

        .icon-platform {
          display: flex;
          height: 1rem;
          width: 1rem;
        }
      }

      &:not(:first-child) {
        border-top: .05rem solid rgba($dark-color, 0.025);
      }
    }
  }

  .panel-widget-content {
    .traits-cards {
      display: flex;
      flex-wrap: wrap;
      gap: .5rem;

      .traits-card {
        background: $bg-color;
        border: .05rem solid rgba($dark-color, 0.01);
        border-radius: .4rem;
        box-shadow: 0 .2rem .8rem -.2rem rgba($dark-color, 0.1);
        color: $dark-color;
        flex: 1 1 auto;
        min-width: 5rem;
        text-transform: uppercase;
        padding: .4rem .6rem;

        .trait-type {
          color: $gray-color-dark;
          font-size: .6rem;
          line-height: 1.5;
        }

        .trait-value {
          font-weight: 700;
          font-size: .7rem;
          line-height: 1.5;
        }

        .trait-percentage {
          font-weight: 500;
          font-size: .3rem;
          line-height: 1;
        }
      }
    }

    .phi-rank {
      width: fit-content;
      align-items: center;
      background: linear-gradient(124.2deg, #fff9d6 8%, #ffe2ba 34%, #f0a87c 74%, #f2a0b7 95%);
      border-radius: .8rem;
      display: flex;
      gap: .25rem;
      padding: .2rem .4rem .2rem .4rem;

      .rank-label {
        border-radius: 1rem;
        font-size: .6rem;
        font-weight: 700;
        line-height: .8rem;
        height: .8rem;
        text-shadow: rgba($dark-color, .95);
      }
    }

    .profile-interests {
      width: 90%;
      display: flex;
      gap: .5rem;
      align-items: center;
      flex-wrap: wrap;

      .interest-item {
        border-radius: .2rem;

        &.crypto,
        &.lens {
          background: linear-gradient(124.2deg, #d6fdff 8%, #bad1ff 34%, #7cd4f0 74%, #b4fffa 95%);
          order: -1;
        }
      }
    }

    .channel-item {
      border-radius: .4rem;
      display: flex;
      gap: .5rem;
      margin: .2rem -.4rem;
      padding: .4rem;

      &:focus,
      &:hover {
        background: $bg-color;
        text-decoration: none;
      }

      .channel-item-icon {
        border-radius: .4rem;
        flex: 0 0 2rem;
        object-fit: cover;
        width: 2rem;
      }

      .channel-item-body {
        display: flex;
        flex-direction: column;
        line-height: 1rem;
      }

      .channel-item-subtitle {
        font-size: .65rem;
      }
    }
  }
}