.feeds-container-box {
  padding: 0;

  .feeds-title {
    font-weight: 900;
    font-size: 14px;
    line-height: 1.43;
    text-transform: uppercase;
  }

  .social-feeds-list {
    max-width: 100%;
    margin-top: 1rem;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .feed-timestamp {
      width: fit-content;
      margin-left: 34px;
      opacity: .5;
      margin-top: 10px;
    }
  }
}