// Profile
.profile-container {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  height: 100%;
  overflow: hidden auto;
  padding: 0 1.5rem;

  .profile-basic {
    position: relative;
    padding: 1rem 0;
  }

  .profile-basic-loading-placeholder {
    min-height: 2rem;
    margin: 1rem 0;
    place-self: flex-start;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .records {
    position: relative;
    margin: 1rem 0;
    display: flex;
    gap: .5rem;

    .action-btn {
      position: relative;
      width: 1.8rem;
      height: 1.8rem;
      box-shadow: 0px .2rem 1rem rgba(0, 0, 0, 0.05);
      border-radius: .4rem;
      cursor: pointer;
      transition: box-shadow .2s ease-in-out;
    }
  }

  .profile-widget {
    margin-bottom: 1rem;

    .profile-widget-title {
      color: $dark-color;
      font-size: .7rem;
      font-weight: 900;
      line-height: 1rem;
      text-transform: uppercase;
    }
  }

  // Custom Widget
  .widget-nft {
    .collection-switcher {
      box-shadow: none;
      margin-left: -1.5rem;
      margin-right: -1.5rem;

      .collection-list {
        padding: .25rem 1.5rem;
      }
    }
  }

  .widget-poap {
    .nft-collection-list {
      padding-top: 1rem;

      .nft-list {
        .nft-item {
          .img-responsive {
            box-shadow: none;
          }
        }
      }
    }
  }
}

.profile-main {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 50%;
  max-width: 25rem;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  width: 100%;

  @media screen and (max-width: $size-xl) {
    width: calc(100% - 4rem);
  }
}

// NFT Collections
.collection-switcher {
  background: #fff;
  box-shadow: 0 .1rem 1rem rgba($dark-color, .1);
  user-select: none;
  padding: 0 0.5rem;
  box-sizing: border-box;

  .collection-list {
    display: flex;
    gap: .1rem;
    overflow: auto hidden;
    padding: .25rem 1rem;

    &::-webkit-scrollbar {
      display: none;
    }

    .collection-item {
      background: #fff;
      border-radius: .6rem;
      flex: 0 0;
      height: 3.1rem;
      padding: .25rem;
      transition: all .25s ease-in-out;
      width: 3.1rem;

      &::after {
        bottom: auto;
        top: 100%;
        transform: translate(-50%, -$unit-2);
      }

      &:focus,
      &:hover {
        background: lighten($bg-color, 2%);

        &::after {
          transform: translate(-50%, $unit-1);
        }
      }

      &.active {
        background: $bg-color;

        .img-responsive {
          box-shadow: 0 .1rem .4rem rgba($dark-color, .25);
        }
      }

      .collection-img {
        border-radius: .5rem;
        height: 2.6rem;
        width: 2.6rem;

        .img-responsive {
          border-radius: .5rem;
          box-shadow: 0 .1rem .4rem rgba($dark-color, .1);
          font-size: 1.6rem;
          height: 2.6rem;
          object-fit: cover;
          width: 2.6rem;
        }
      }
    }
  }
}

.nft-collection {
  flex: 1 1;
  height: 100%;
  overflow: hidden auto;
  padding: 0 1.5rem;
}

.nft-collection-list {
  .nft-collection-item {
    margin-top: .5rem;
  }

  .collection-title {
    align-items: center;
    display: flex;
    padding: 1rem 0 .5rem 0;

    .collection-logo {
      flex: 0 0 1.2rem;
      margin-right: .25rem;

      .img-responsive {
        border-radius: .4rem;
        box-shadow: 0 .2rem .8rem rgba($dark-color, .2);
        font-size: 1rem;
        height: 1.2rem;
        object-fit: cover;
        width: 1.2rem;
      }
    }

    .collection-name {
      font-size: .8rem;
      font-weight: 700;
    }
  }

  .nft-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5rem 1rem -.5rem;

    .nft-container {
      flex: 0 0 33.3333%;
      width: 33.3333%;
      min-width: 8rem;

      @media screen and (max-width: $size-md) {
        flex: 0 0 50%;
      }
    }

    .nft-item {
      border-radius: .75rem;
      padding: .5rem;
      transition: all .25s ease-in-out;

      &:focus,
      &:hover {
        background: lighten($bg-color, 2%);
      }

      .img-container {
        margin-bottom: .5rem;

        .img-responsive {
          border-radius: .5rem;
          box-shadow: 0 .2rem 1rem rgba($dark-color, .15), 0 .05rem .2rem rgba($dark-color, .05);
          font-size: 2rem;
          min-height: 7rem;
          object-fit: cover;
        }
      }

      .collection-name {
        color: $gray-color-dark;
        font-size: .5rem;
      }

      .nft-name {
        font-size: .65rem;
        font-weight: 700;
      }
    }
  }
}

// Social Feeds
.feeds-container {
  flex: 1 1;
  height: 100%;
  overflow-y: auto;
  padding: 0 1.5rem;

  .social-feeds-title {
    font-size: .7rem;
    font-weight: 700;
    padding: 1rem 0;
  }
}

.social-feeds-list {
  .social-feeds-item {}

  .feed-item-box {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    align-items: flex-start;
    gap: 10px;

    .feed-type-badge {
      width: 24px;
      height: 24px;
      background: rgba(18, 18, 18, 0.08);
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
    }

    .feed-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: 90%;

      .feed-item-header {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;

        .feed-type-intro {
          display: flex;
          align-items: center;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;

          .strong {
            font-weight: 900;
            margin: 0 4px;
          }
        }
      }

      .feed-item-main {
        display: flex;
        align-items: center;
        gap: 10px;

        .feed-nft-img {
          position: relative;
          width: 40px;
          height: 40px;
          min-width: 40px;
          min-height: 40px;
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
          border-radius: 12px;

          img {
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
            border-radius: 12px;
          }
        }

        .feed-swap-img {
          width: 24px;
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
          border-radius: 12px;
          background: transparent;
        }

        .feed-nft-info {
          display: flex;
          flex-direction: column;

          .nft-title {
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
          }

          .nft-subtitle {
            font-weight: 400;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }

          .nft-collection-title {
            font-weight: 400;
            font-size: 12px;
            line-height: 1rem;
            color: #121212;
            opacity: 0.5;
          }
        }
      }
    }
  }
}