// Profile
// New Profile
.web3-profile {
  padding: 2rem;

  @media screen and (max-width: $size-md) {
    padding: 1rem;
  }

  .web3bio-custom {
    background-color: $light-color;
    background-size: cover;
    display: block;
    filter: blur(4rem);
    height: 100vh;
    left: 0;
    opacity: .05;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;
  }
}

.web3-profile-base {
  margin: .5rem;
  position: sticky;
  top: 2.5rem;

  .profile-avatar {
    align-items: center;
    border-radius: 50%;
    box-shadow: inset 0 0 0 .2rem rgba($light-color, .1);
    display: flex;
    height: 9rem;
    justify-content: center;
    width: 9rem;

    .avatar {
      box-shadow: 0 .4rem 1rem rgba(0, 0, 0, .1);
      height: 9rem;
      position: relative;
      width: 9rem;
      z-index: -1;
    }
  }

  .profile-name {
    color: $dark-color;
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: .5rem;
    margin-top: 1rem;
    max-width: 600px;
  }

  .profile-identity {
    align-items: center;
    color: $gray-color-dark;
    display: flex;
    margin-bottom: 1rem;
    font-size: .6rem;
    line-height: 1rem;

    .action {
      color: $gray-color;
      cursor: pointer;
      flex: 0 1;
      height: 1rem;
      margin-left: .2rem;
      position: relative;
      transition: all .2s ease-in-out;
      width: 1rem;

      &:focus,
      &:hover {
        color: $dark-color;
      }
    }
  }

  .profile-description {
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
    max-width: 20rem;
  }

  .profile-location {
    margin-bottom: .5rem;
  }

  .profile-email {
    margin-bottom: 1rem;
    vertical-align: middle;

    a {
      border-bottom: .05rem dashed;
      text-decoration: none;

      &:focus,
      &:hover {
        border-bottom: .05rem solid;
      }
    }
  }
}

.web3-section-title {
  font-size: .9rem;
  font-weight: 500;
  padding: 1rem 1.5rem;
}

.web3-section-widgets {
  display: flex;
  flex-wrap: wrap;

  .profile-widget {
    background: $light-color;
    border: .05rem solid rgba($dark-color, .075);
    border-radius: .8rem;
    box-shadow: 0 .1rem .2rem rgba($dark-color, .04);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 9rem;
    margin: .5rem;
    padding: 1rem;
    text-decoration: none;
    transition: all .25s ease-in-out;
    width: 9rem;
    will-change: transform;

    &:focus,
    &:hover {
      box-shadow: 0 .4rem 1.6rem rgba(0, 0, 0, .075), 0 .1rem .2rem rgba(0, 0, 0, .01);
      z-index: 99;

      .platform-action {
        .btn {
          display: inline-flex;
        }
      }
    }

    .platform-icon {
      align-items: center;
      border-radius: .6rem;
      box-shadow: inset 0 0 0 .075rem rgba($dark-color, .1), 0 .2rem .4rem rgba($dark-color, .2);
      color: $light-color;
      display: flex;
      height: 2rem;
      justify-content: center;
      width: 2rem;
    }

    .platform-title {
      font-weight: 500;
      margin-top: .5rem;
      width: 100%;
    }

    .platform-handle {
      color: $gray-color;
      font-size: .6rem;
      width: 100%;
    }

    .platform-action {
      margin-top: auto;

      .btn {
        display: none;
        position: relative;
      }
    }
  }

  .profile-collection-widgets {
    min-width: 50%;
    max-width: 50%;
    height: auto;
    max-height: 30rem;

    .widgets-collection-list {
      display: flex;
      flex-flow: column wrap;
      height: 10rem;
      width: 100%;
      overflow-x: scroll;
      align-items: center;
      justify-content: center;

      .collection-item {
        background: #fff;
        border-radius: .6rem;
        height: 4.5rem;
        padding: .25rem;
        transition: all .25s ease-in-out;
        width: 4.5rem;

        &::after {
          bottom: auto;
          top: 100%;
          transform: translate(-50%, -$unit-2);
        }

        &:focus,
        &:hover {
          background: lighten($bg-color, 2%);

          &::after {
            transform: translate(-50%, $unit-1);
          }
        }

        &.active {
          background: $bg-color;

          .img-responsive {
            box-shadow: 0 .1rem .4rem rgba($dark-color, .25);
          }
        }

        .collection-img {
          border-radius: .5rem;
          height: 100%;
          width: 100%;

          .img-responsive {
            border-radius: .5rem;
            box-shadow: 0 .1rem .4rem rgba($dark-color, .1);
            font-size: 1.6rem;
            height: 100%;
            object-fit: cover;
            width: 100%;
          }
        }
      }

      .collection-switcher {
        background: #fff;
        box-shadow: 0 .1rem 1rem rgba($dark-color, .1);
        user-select: none;
        height: 3.5rem;
        box-sizing: border-box;

        .collection-list {
          display: flex;
          gap: .1rem;
          height: 100%;
          overflow: auto hidden;

          &::-webkit-scrollbar {
            display: none;
          }

          .collection-item {
            background: #fff;
            border-radius: .6rem;
            flex: 0 0;
            height: 3.1rem;
            padding: .25rem;
            transition: all .25s ease-in-out;
            width: 3.1rem;

            &::after {
              bottom: auto;
              top: 100%;
              transform: translate(-50%, -$unit-2);
            }

            &:focus,
            &:hover {
              background: lighten($bg-color, 2%);

              &::after {
                transform: translate(-50%, $unit-1);
              }
            }

            &.active {
              background: $bg-color;

              .img-responsive {
                box-shadow: 0 .1rem .4rem rgba($dark-color, .25);
              }
            }

            .collection-img {
              border-radius: .5rem;
              height: 2.6rem;
              width: 2.6rem;

              .img-responsive {
                border-radius: .5rem;
                box-shadow: 0 .1rem .4rem rgba($dark-color, .1);
                font-size: 1.6rem;
                height: 2.6rem;
                object-fit: cover;
                width: 2.6rem;
              }
            }
          }
        }
      }
    }
  }

  .profile-poaps-widgets {
    min-width: 50%;
    max-width: 50%;
    height: auto;
    max-height: 30rem;

    .widgets-collection-list {
      display: flex;
      flex-flow: column wrap;
      height: 10rem;
      width: 100%;
      gap: 1rem;
      overflow-x: scroll;

      .nft-container {
        width: 9rem;
        min-width: 8rem;

        @media screen and (max-width: $size-md) {
          flex: 0 0 50%;
        }
      }

    }
  }
}

.nft-preview {
  height: calc(100vh - 1rem);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  z-index: 100;

  .panel-container {
    height: calc(100vh - 2rem);
  }

  .panel-header {
    overflow: hidden auto;
    padding: 1rem;

    .img-container {
      display: flex;
      min-width: 100%;

    }

    .panel-header-img {
      flex: 1 1 50%;
      margin-right: 1rem;
      width: 50%;
    }

    .img-responsive {
      width: 100%;
      border-radius: .5rem;
    }

    .collection-title {
      align-items: center;
      display: flex;
      padding: 1rem 0 .5rem 0;

      .collection-logo {
        flex: 0 0 1.2rem;
        margin-right: .25rem;

        .img-responsive {
          border-radius: .4rem;
          box-shadow: 0 .2rem .8rem rgba($dark-color, .2);
          font-size: 1rem;
          height: 1.2rem;
          width: 1.2rem;
        }
      }

      .collection-name {
        font-size: .65rem;
        font-weight: 700;
      }
    }

    .nft-header-name {
      font-size: 1.2rem;
      font-weight: 900;
    }

    .nft-header-actions {
      margin-top: .5rem;
    }
  }

  .panel-body {
    padding: 0 1rem 1rem 1rem;
  }

  .panel-widget {
    margin: 1rem 0;

    .panel-widget-title {
      font-size: .7rem;
      font-weight: 900;
      margin-bottom: .5rem;
      text-transform: uppercase;
    }

    .panel-widget-content {
      font-size: .6rem;
      line-height: 1rem;
    }

    .traits-cards {
      display: flex;
      flex-wrap: wrap;
      gap: .5rem;

      .traits-card {
        background: $light-color;
        border: .05rem solid rgba(18, 18, 18, 0.08);
        box-shadow: 0 .2rem .8rem rgba(0, 0, 0, 0.05);
        border-radius: .4rem;
        color: $dark-color;
        text-transform: uppercase;
        padding: .2rem .4rem;

        .trait-type {
          font-size: .5rem;
          line-height: 2;
        }

        .trait-value {
          font-weight: 700;
          font-size: .6rem;
          line-height: 1.5;
        }
      }
    }
  }
}

// Old Profile
.profile-container {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  height: 100%;
  overflow: hidden auto;
  padding: 0 1.5rem;

  .profile-basic {
    position: relative;
    padding: 1rem 0;
  }

  .profile-basic-loading-placeholder {
    min-height: 2rem;
    margin: 1rem 0;
    place-self: flex-start;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .records {
    position: relative;
    margin: 1rem 0;
    display: flex;
    gap: .5rem;

    .action-btn {
      position: relative;
      width: 1.8rem;
      height: 1.8rem;
      box-shadow: 0px .2rem 1rem rgba(0, 0, 0, 0.05);
      border-radius: .4rem;
      cursor: pointer;
      transition: box-shadow .2s ease-in-out;
    }
  }

  .profile-widget {
    margin-bottom: 1rem;

    .profile-widget-title {
      color: $dark-color;
      font-size: .7rem;
      font-weight: 900;
      line-height: 1rem;
      text-transform: uppercase;
    }
  }

  // Custom Widget
  .widget-nft {
    .collection-switcher {
      box-shadow: none;
      margin-left: -1.5rem;
      margin-right: -1.5rem;

      .collection-list {
        padding: .25rem 1.5rem;
      }
    }
  }

  .widget-poap {
    .nft-collection-list {
      padding-top: 1rem;

      .nft-list {
        .nft-item {
          .img-responsive {
            box-shadow: none;
          }
        }
      }
    }
  }
}

.profile-main {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 50%;
  max-width: 25rem;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  width: 100%;

  @media screen and (max-width: $size-xl) {
    width: calc(100% - 4rem);
  }
}

// NFT Collections
.collection-switcher {
  background: #fff;
  box-shadow: 0 .1rem 1rem rgba($dark-color, .1);
  user-select: none;
  padding: 0 0.5rem;
  box-sizing: border-box;

  .collection-list {
    display: flex;
    gap: .1rem;
    overflow: auto hidden;
    padding: .25rem 1rem;

    &::-webkit-scrollbar {
      display: none;
    }

    .collection-item {
      background: #fff;
      border-radius: .6rem;
      flex: 0 0;
      height: 3.1rem;
      padding: .25rem;
      transition: all .25s ease-in-out;
      width: 3.1rem;

      &::after {
        bottom: auto;
        top: 100%;
        transform: translate(-50%, -$unit-2);
      }

      &:focus,
      &:hover {
        background: lighten($bg-color, 2%);

        &::after {
          transform: translate(-50%, $unit-1);
        }
      }

      &.active {
        background: $bg-color;

        .img-responsive {
          box-shadow: 0 .1rem .4rem rgba($dark-color, .25);
        }
      }

      .collection-img {
        border-radius: .5rem;
        height: 2.6rem;
        width: 2.6rem;

        .img-responsive {
          border-radius: .5rem;
          box-shadow: 0 .1rem .4rem rgba($dark-color, .1);
          font-size: 1.6rem;
          height: 2.6rem;
          object-fit: cover;
          width: 2.6rem;
        }
      }
    }
  }

}

.nft-collection {
  flex: 1 1;
  height: 100%;
  overflow: hidden auto;
  padding: 0 1.5rem;
}

.nft-collection-list {
  .nft-collection-item {
    margin-top: .5rem;
  }

  .collection-title {
    align-items: center;
    display: flex;
    padding: 1rem 0 .5rem 0;

    .collection-logo {
      flex: 0 0 1.2rem;
      margin-right: .25rem;

      .img-responsive {
        border-radius: .4rem;
        box-shadow: 0 .2rem .8rem rgba($dark-color, .2);
        font-size: 1rem;
        height: 1.2rem;
        object-fit: cover;
        width: 1.2rem;
      }
    }

    .collection-name {
      font-size: .8rem;
      font-weight: 700;
    }
  }

  .nft-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5rem 1rem -.5rem;

    .nft-container {
      flex: 0 0 33.3333%;
      width: 33.3333%;
      min-width: 8rem;

      @media screen and (max-width: $size-md) {
        flex: 0 0 50%;
      }
    }

    .nft-item {
      border-radius: .75rem;
      padding: .5rem;
      transition: all .25s ease-in-out;

      &:focus,
      &:hover {
        background: lighten($bg-color, 2%);
      }

      .img-container {
        margin-bottom: .5rem;

        .img-responsive {
          border-radius: .5rem;
          box-shadow: 0 .2rem 1rem rgba($dark-color, .15), 0 .05rem .2rem rgba($dark-color, .05);
          font-size: 2rem;
          min-height: 7rem;
          object-fit: cover;
        }
      }

      .collection-name {
        color: $gray-color-dark;
        font-size: .5rem;
      }

      .nft-name {
        font-size: .65rem;
        font-weight: 700;
      }
    }
  }
}

// Social Feeds
.feeds-container {
  flex: 1 1;
  height: 100%;
  overflow-y: auto;
  padding: 0 1.5rem;

  .social-feeds-title {
    font-size: .7rem;
    font-weight: 700;
    padding: 1rem 0;
  }
}

.social-feeds-list {
  .social-feeds-item {}

  .feed-item-box {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    align-items: flex-start;
    gap: 10px;

    .feed-type-badge {
      width: 24px;
      height: 24px;
      background: rgba(18, 18, 18, 0.08);
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
    }

    .feed-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: 90%;

      .feed-item-header {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;

        .feed-type-intro {
          display: flex;
          align-items: center;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;

          .strong {
            font-weight: 900;
            margin: 0 4px;
          }
        }
      }

      .feed-item-main {
        display: flex;
        align-items: center;
        gap: 10px;

        .feed-nft-img {
          position: relative;
          width: 40px;
          height: 40px;
          min-width: 40px;
          min-height: 40px;
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
          border-radius: 12px;

          img {
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
            border-radius: 12px;
          }
        }

        .feed-swap-img {
          width: 24px;
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15);
          border-radius: 12px;
          background: transparent;
        }

        .feed-nft-info {
          display: flex;
          flex-direction: column;

          .nft-title {
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
          }

          .nft-subtitle {
            font-weight: 400;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }

          .nft-collection-title {
            font-weight: 400;
            font-size: 12px;
            line-height: 1rem;
            color: #121212;
            opacity: 0.5;
          }
        }
      }
    }
  }
}