.share-modal-wrapper {
    position: absolute;
    z-index: 99;
    width: 100%;
    max-width: 20rem;
    box-shadow: 0 0 5px $light-color;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    border-radius: .5rem;
    box-sizing: border-box;
    padding: 1rem;
    color: $dark-color;
    backdrop-filter: blur(1rem);
    background: $light-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    .qrcode-container{
        position: relative;
        width: 8rem;
        height: 8rem;
        border-radius: .5rem;
    }
    .share-item-box {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        margin-top: .5rem;

        .share-item {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .2rem;
            height: 2.25rem;
            width: 2.25rem;
            border-color: rgba($dark-color, 0.05);
            transition: all 0.15s ease-in-out 0s;
            transform-origin: center center;

            &:hover {
                border-color: rgba($dark-color, 0.15);
            }

            background: transparent;
        }
    }
}