.web3bio-share-container {
  display: flex;
  flex-direction: column;

  .profile-share-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
  }

  .profile-share-body {
    flex: 1;
    gap: .2rem;
    padding: 1rem 0;
  }

  .profile-share-footer {
    padding-top: 1rem;

    .input-group-btn {
      position: relative;
    }

    .tooltip-copy {
      position: absolute;
    }
  }

  .btn-group {
    .btn {
      gap: .2rem;
    }
  }

  .profile-card {
    border: .05rem solid rgba($dark-color, .075);
    border-radius: .8rem;
    box-shadow: 0 .1rem .2rem rgba($dark-color, .04);
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .card-avatar {
      flex: 0;

      .avatar,
      svg {
        box-shadow: inset 0 0 0 .2rem rgba($light-color, .1);
        height: 4rem;
        width: 4rem;
      }
    }

    .card-content {
      flex: 1;
      padding: .5rem 0;
      width: 100%;
    }

    .card-name {
      font-size: 1.4rem;
      font-weight: 900;
      letter-spacing: -0.05em;
    }

    .card-identity {
      color: $gray-color;
    }

    .qrcode-container {
      align-self: flex-end;
    }
  }

  .qrcode-container {
    align-items: center;
    border-radius: .6rem;
    display: flex;
    height: 3rem;
    justify-content: center;
    width: 3rem;

    canvas {
      transform: scale(.25);
    }
  }
}